.navbar {
  background: rgba(255,255,255,0.5);
  height: 100px;
  border-bottom:none;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;

  #navbar-main .active a {
    background: none;
    font-weight: 600;
  }
}