<div class="col-md-2 space-details" height-to-window>
    <section class="top-texts">
        <h1 class="space-title">{{space.name}}</h1>
        <h4 ng-if="space.credits.length > 0"><strong>CREDITS&nbsp;&nbsp;|&nbsp;&nbsp;</strong>{{space.credits}}</h4>
        <a class="show-before pointer" show-before-pane ng-if="beforeImages.length > 0">Show before pictures</a>
        <p class="about">{{space.about}}</p>
    </section>
    <!--<section class="bottom-texts">-->
        <!--<h4><strong>CREDITS&nbsp;&nbsp;|&nbsp;&nbsp;</strong>{{space.credits}}</h4>-->
    <!--</section>-->
</div>
<div class="col-md-10 col-md-offset-2">
    <!-- BEFORE PICS SECTION -->
    <div class="col-sm-12 before-pics animated slideOutUp">
        <div class="close pointer" hide-before-pane>X</div>
        <section class="row">
            <div class="img-frame col-sm-2" ng-repeat="image in beforeImages" ng-click="openLightboxModal(beforeImages, $index)">
                <div class="img-crop">
                    <img ng-src="data:image/jpeg;base64, {{image.img}}" alt=""/>
                </div>
            </div>
        </section>
    </div>
    <!-- REGULAR (AFTER PICS SECTION) -->
    <section class="row">
        <div class="col-md-12">
            <section class="row spaces-main">
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item="customItemMap" class="gridster-card pointer"
                            ng-repeat="image in afterImages" ng-click="openLightboxModal(afterImages, $index)">
                            <div class="img-frame">
                                <div class="img-crop">
                                    <img ng-src="data:image/jpeg;base64, {{image.img}}" alt=""/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

    </section>
</div>
